extends layout

block content
    h1 Play Time 4 Trivia!
    
    each val in questions
        div 
            h4= val.question
            div
                p Correct Question :
                p= val.correct_answer
            each ques in val.incorrect_answers
                p= ques
        br
        br
    
    
    button Finished