extends layout
block content
  form(action='post')
    h1 Users
    each user in users 
      if (user.length === 0 )
        p
          | No Users To Display
      else
        div(class='userBox')
          h2 Username: #{user.username}
            h3 Roles
            ul
              each role in user.roles 
                li= role
          if (currentUser.userId === user.userId)
            a(href='/a/users/user' class='disabled') Profile
          else
            a(href='/a/users/profile/' + user.userId) Profile
          

            
